@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card p-5 rounded-5 shadow-lg" style="background: rgba(0, 0, 0, 0.8); max-width: 500px; width: 100%; border: none;">
        <h1 class="text-center text-light display-4 font-weight-bold">@ViewData["Title"]</h1>
        <h2 class="text-center text-light" style="margin-top: 8px;">Enter your email to reset your password</h2>
        <hr class="text-light" />

        <form method="post" class="mt-4">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control bg-dark text-light border-0 shadow-sm rounded-3" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="text-light">Email Address</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-gradient py-2 rounded-pill shadow-lg">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
